numpy
numpydoc
pandas
statsmodels
scikit-learn
scipy
patsy
matplotlib
jupyter
ipykernel
seaborn
bokeh
plotly
nbconvert
nbformat
ipython
h5py
opencv-python
scikit-image
six
tifffile
imageio
Cython
scikit-fda
fastdtw
pygam
PyWavelets
arviz
bambi
tqdm
nest-asyncio
pyarrow

ffmpeg
ccache
eigen==3.4.0
poetry
adelie
skglm